[submodule ".registry"]
	path = .registry
	url = https://github.com/ctu-bern/ctu-bern.r-universe.dev
	branch = HEAD
[submodule "CTUtemplate"]
	path = CTUtemplate
	url = https://github.com/CTU-Bern/CTUtemplate
[submodule "SwissASR"]
	path = SwissASR
	url = https://github.com/CTU-Bern/SwissASR
[submodule "accrualPlot"]
	path = accrualPlot
	url = https://github.com/CTU-Bern/accrualPlot
[submodule "btabler"]
	path = btabler
	url = https://github.com/CTU-Bern/btabler
[submodule "kpitools"]
	path = kpitools
	url = https://github.com/CTU-Bern/kpitools
[submodule "presize"]
	path = presize
	url = https://github.com/CTU-Bern/presize
[submodule "redcaptools"]
	path = redcaptools
	url = https://github.com/CTU-Bern/redcaptools
[submodule "secuTrialR"]
	path = secuTrialR
	url = https://github.com/SwissClinicalTrialOrganisation/secuTrialR
[submodule "sse"]
	path = sse
	url = https://github.com/thofab/sse
[submodule "svn"]
	path = svn
	url = https://github.com/CTU-Bern/svn
[submodule "unibeCols"]
	path = unibeCols
	url = https://github.com/CTU-Bern/unibeCols
[submodule "validation"]
	path = validation
	url = https://github.com/SwissClinicalTrialOrganisation/validation
