[submodule ".registry"]
	path = .registry
	url = https://github.com/ctu-bern/universe
	shallow = true
	branch = HEAD
[submodule "accrualPlot"]
	path = accrualPlot
	url = https://github.com/CTU-Bern/accrualPlot
	shallow = true
	registered = true
[submodule "btabler"]
	path = btabler
	url = https://github.com/CTU-Bern/btabler
	shallow = true
	registered = true
[submodule "CTUtemplate"]
	path = CTUtemplate
	url = https://github.com/CTU-Bern/CTUtemplate
	shallow = true
	registered = true
[submodule "kpitools"]
	path = kpitools
	url = https://github.com/CTU-Bern/kpitools
	shallow = true
	registered = true
[submodule "presize"]
	path = presize
	url = https://github.com/CTU-Bern/presize
	shallow = true
	registered = true
[submodule "SwissASR"]
	path = SwissASR
	url = https://github.com/CTU-Bern/SwissASR
	shallow = true
	registered = true
[submodule "secuTrialR"]
	path = secuTrialR
	url = https://github.com/SwissClinicalTrialOrganisation/secuTrialR
	shallow = true
	registered = true
[submodule "HSAr"]
	path = HSAr
	url = https://github.com/aghaynes/HSAr
	shallow = true
	registered = true
[submodule "sse"]
	path = sse
	url = https://github.com/thofab/sse
	shallow = true
	registered = true
